@model ECommerce.ViewModels.ProductCategoryEditViewModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>
<h1>Sök</h1>
@using (Html.BeginForm("Edit", "Edit", FormMethod.Get))
{
    <table class="table">
        <tr>
            <th></th>
            <th></th>
        </tr>

        <tr>
            <td>Category</td>
            <td>
                @Html.HiddenFor(category => category.CategoryId)
                @Html.TextBoxFor(category => category.Name)
            </td>
        </tr>

    </table>
    <input type="submit" value="Save" />

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
