@model ECommerce.ViewModels.ProductCategoryViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Catagories</h2>
@if (User.IsInRole("Admin") || User.IsInRole("Product Manager"))
{
    <h3>@Html.ActionLink("Create New Category", "Create", "Category")</h3>
}
<table class="table">
    <thead>
     
    </thead>
    <tbody>
        @foreach (var catagory in Model.CategoriesList)
        {
            <tr>
                <td>
                    @Html.ActionLink(catagory.Name, "Index", "Product", new { id = catagory.CategoryId }, null)
                  
                </td>
                <td>
                    @if (User.IsInRole("Admin") || User.IsInRole("Product Manager"))
                    {
                        @Html.ActionLink("Edit", "Edit", "Category", new { id = catagory.CategoryId }, null)
                    }
                </td>
              
            </tr>
        }
    </tbody>
</table>