@model ECommerce.ViewModels.ProductCategoryCreateViewModel
@{
    ViewBag.Title = "Create";
}

<h2>Create New Category</h2>
@using (Html.BeginForm(FormMethod.Post))
{
    <table class="table">
        <tr>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td>Category Name</td>
            <td>
                @Html.TextBoxFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </td>
        </tr>
    </table>
    <input type="submit" value="Spara" />
}




